<th:block th:fragment="sideBar">
<nav class="collapse d-md-block bg-dark col-md-2 p-3">
	<div class="container-fluid">
		<ul class="nav nav-pills flex-column">
			<li class="nav-item index">
				<a class="nav-link text-white" th:href="@{/employee/empIndex}">
					<i class="fa-solid fa-house me-2"></i>首頁
				</a>
			</li>
			<li class="nav-item one">
				<a class="nav-link text-white" th:href="@{/member/showAllMember3}">
					<i class="fa-solid fa-user me-2"></i>會員
				</a>
			</li>
			<li class="nav-item two">
				<a class="nav-link text-white" th:href="@{/ticktable}">
					<i class="fa-solid fa-ticket me-2"></i>訂票
				</a>
			</li>
			<li class="nav-item three">
				<a class="nav-link text-white" th:href="@{/emp/movies}">
					<i class="fa-solid fa-film me-2"></i>電影
				</a>
			</li>
			<li class="nav-item four">
				<a class="nav-link text-white" th:href="@{/emp/meals}">
					<i class="fa-solid fa-utensils me-2"></i>訂餐
				</a>
			</li>
			<li class="nav-item five">
				<a class="nav-link text-white" th:href="@{/emp/announcement}">
					<i class="fa-solid fa-bullhorn me-2"></i>公告
				</a>
			</li>
		</ul>
	</div>
</nav>
</th:block>