<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<!-- Sidebar -->
        <ul th:fragment="sidebar" class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/employee/empIndex">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">光影之門後台管理系統<sup>1.0</sup></div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">


            <!-- Heading -->
            <div class="sidebar-heading">
                會員/員工管理
            </div>

			<li class="nav-item">
                <a class="nav-link" th:href="@{/member/memberListEmp}">
                    <i class="fas fa-fw fa-table"></i>
                    <span>會員管理</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/employee/empList">
                    <i class="fas fa-fw fa-table"></i>
                    <span>員工管理</span></a>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                訂票/電影管理
            </div>
			<li class="nav-item">
                <a class="nav-link" href="/MovieList">
                    <i class="fas fa-fw fa-table"></i>
                    <span>電影管理</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/ticktable}">
                    <i class="fas fa-fw fa-table"></i>
                    <span>訂票管理</span></a>
            </li>
            
            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block"/>
			<div class="sidebar-heading">
                餐點管理
            </div>
			<li class="nav-item">
                <a class="nav-link" th:href="@{/menu/page/1}">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>餐點管理</span></a>
            </li>
             <hr class="sidebar-divider d-none d-md-block">
			<div class="sidebar-heading">
                客服中心
            </div>
			<li class="nav-item">
                <a class="nav-link" th:href="@{/admin1}">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>客服管理</span></a>
            </li>            
            <hr class="sidebar-divider d-none d-md-block">
            <li class="nav-item">
                <a class="nav-link" href="/employee/empLogin">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>員工登入</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/employee/empRegister">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>員工註冊</span></a>
            </li>

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->
</body>
</html>