<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<nav th:fragment="topbar"
		class="navbar navbar-expand navbar-light bg-white topbar mb-4 shadow">

		<!-- Sidebar Toggle (Topbar) -->
		<button id="sidebarToggleTop"
			class="btn btn-link d-md-none rounded-circle me-3">
			<i class="fa fa-bars"></i>
		</button>

		<!-- Topbar Search -->
		<form class="d-none d-sm-inline-block d-flex ms-md-3 my-2 my-md-0"
			style="max-width: 300px;">
			<div class="input-group">
				<input type="text" class="form-control bg-light border-0 small"
					placeholder="搜尋..." aria-label="Search">
				<button class="btn btn-primary" type="button">
					<i class="fas fa-search fa-sm"></i>
				</button>
			</div>
		</form>

		<!-- Topbar Navbar -->
		<ul class="navbar-nav ms-auto">

			<!-- Nav Item - Search Dropdown (Visible Only XS) -->
			<li class="nav-item dropdown no-arrow d-sm-none"><a
				class="nav-link dropdown-toggle" href="#" id="searchDropdown"
				role="button" data-bs-toggle="dropdown" aria-expanded="false"> <i
					class="fas fa-search fa-fw"></i>
			</a> <!-- Dropdown - Messages -->
				<div
					class="dropdown-menu dropdown-menu-end p-3 shadow animated--grow-in"
					aria-labelledby="searchDropdown">
					<form class="d-flex w-100">
						<div class="input-group">
							<input type="text" class="form-control bg-light border-0 small"
								placeholder="搜尋..." aria-label="Search">
							<button class="btn btn-primary" type="button">
								<i class="fas fa-search fa-sm"></i>
							</button>
						</div>
					</form>
				</div></li>

			<!-- Nav Item - User Information -->
			<li class="nav-item dropdown no-arrow"><a
				class="nav-link dropdown-toggle" href="#" id="userDropdown"
				role="button" data-bs-toggle="dropdown" aria-expanded="false"> <span
					th:if="${session.empDetail != null}"
					th:text="${session.empDetail.name}"
					class="me-2 d-none d-lg-inline text-gray-600 small"></span> <span
					th:if="${session.empDetail == null}"
					class="me-2 d-none d-lg-inline text-gray-600 small"></span> <img
					class="img-profile rounded-circle" src="/imgs/undraw_profile.svg"
					alt="User Image">
			</a> <!-- Dropdown - User Information -->
				<div
					class="dropdown-menu dropdown-menu-end shadow animated--grow-in"
					aria-labelledby="userDropdown">
					<!-- 登出 -->
					<a class="dropdown-item" th:if="${session.empDetail != null}"
						href="#" data-bs-toggle="modal" data-bs-target="#logoutModal">
						<i class="fas fa-sign-out-alt fa-sm fa-fw me-2 text-gray-400"></i>
						登出
					</a>

					<!-- 登入 -->
					<a class="dropdown-item" th:if="${session.empDetail == null}"
						th:href="@{/employee/empLogin}"> <i
						class="fas fa-sign-in-alt fa-sm fa-fw me-2 text-gray-400"></i> 登入
					</a>
				</div></li>

		</ul>

	</nav>
	<!-- End of Topbar -->

</body>
</html>