<!-- templates/fragments/footer.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
  <footer th:fragment="footer">
    <!-- Links -->
    <section class="links">
      <div class="links-inner">
        <ul><li><h3>最新資訊</h3></li></ul>
        <ul><li><h3>購票須知</h3></li></ul>
        <ul><li><h3>最新公告</h3></li></ul>
        <ul><li><h3>聯絡我們</h3></li></ul>
      </div>
    </section>

    <!-- Footer -->
    <footer class="footer">
      <div class="footer-inner">
        <div><i class="fas fa-globe fa-2x"></i> Traditional Chinese (繁體中文)</div>
      </div>
    </footer>
  </footer>
</body>
</html>
