@charset "UTF-8";

* {
	padding:0px;
	margin:0px;
}


/* 時鐘 */
.clock {
	font-size: 1.5rem;
	font-weight: bold;
	text-align: center;
	margin-bottom: 20px;
	padding: 10px;
	border: 2px solid #ffffff55;
	border-radius: 10px;
	background-color: #222;
	box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
	letter-spacing: 2px;
	font-family: 'Courier New', Courier, monospace;
}

/* 導覽列設定 li標籤 */


.nav-pills .nav-item {
	text-align: center;
	border: 2px solid #ffffff55;
	box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
	margin-bottom: 20px;
	border-radius: 10px;
}

.nav-pills .nav-link {
	font-size: 18px;
	transition: all 0.3s ease;
}

.nav-pills .nav-link i {
	font-size: 24px;
	display: block;
	margin-bottom: 5px;
}

.nav-pills .nav-link.hovered {
	background-color: #FFCC00;
	color: #000;
	transform: scale(1.05);
}

.nav-pills .nav-link.clicked {
	background-color: #B22222 !important;
	color: #FFF !important;
}