    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      min-height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #f8f8f8; /* 可選：淡灰背景看起來更乾淨 */
    }


    .container {
      width: 400px;
      margin: auto;
      /* border: 2px solid red; */
      border-radius: 10px;
      background-color: rgb(222, 222, 222);
    }
    .tilte {
      width: 100%;
      text-align: center;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      text-decoration: underline;
    }

    .tilte .btn{
      width: 16px;
      height: 16px;
      
    }

    i {
      font-size: 12px;
    }


    .form-label {
      text-decoration: underline;
      color: black;
    }
    .login-form{
      
      display: flex;
      flex-direction: column;
      padding: 10px;
    }
    .group {
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;
    }
    .group input {
      padding: 5px;
      border: 1px solid #ccc;
      border-radius: 3px;
    }
    .button-group{
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
    
    }
    .button-group .right-button button{
    background-color: rgb(213, 211, 211);
    }

    .button-group .left-button button{
    background-color: rgb(175, 255, 192);
  }
  
  	a {
  		text-decoration: none;
  	}
  	